@media (max-width: 1360px) {
  .social {
    width: 780px;
  }
}

@media (max-width: 1200px) {
  .social {
    width: 650px;
  }
  .social h2 {
    font-size: 75px;
  }
}

@media (max-width: 1030px) {
  .social {
    width: 550px;
  }
  .social h2 {
    font-size: 65px;
  }
  .volume {
    top: auto;
    bottom: 10px;
  }
}

@media (max-width: 920px) {
  .social {
    width: 450px;
  }
  .social h2 {
    font-size: 55px;
  }
}

@media (max-width: 850px) {
  .social {
    width: 300px;
  }
  .social h2 {
    font-size: 35px;
  }

  .social a {
    margin: 0 20%;
  }
}

@media (max-width: 690px) {
  .none {
    display: none;
  }

  .social h2 {
    line-height: 70px;
  }

  .social a {
    margin: 0 20%;
  }

  .container {
    top: 50%;
    flex-direction: column-reverse;
    margin: 15px;
    transform: translate(-55%, -50%);
    gap: 10px;
  }
  .avatar__contacts {
    margin: auto;
  }
}
